.root {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  min-height: 100%;
  background-color: #f2f3f5;
}


.header {
  display: flex;
  align-items: center;
  flex: 0 0 54px;
  justify-content: center;
  color: #e1ecf2;
  background-color: #1c2030;
}


.brand {
  font-size: 1.2em;
}


.hLabel {
  display: flex;
  justify-content: space-between;
  width: 1020px;
}


.main {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 1020px;
  margin: 36px 0;
}


.content {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.14);
}


.footer {
  display: flex;
  align-items: flex-end;
  align-self: center;
  flex: 1 1 auto;
  padding: 18px 0;
  font-size: smaller;
  color: #424242;
}


.connection {
  display: flex;
  align-items: center;
  font-size: smaller;
  line-height: 11px;
}


.online,
.offline,
.error {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 50%;
}


.online { background-color: #2e7b32; }


.offline { background-color: #bdbdbd; }


.error { background-color: #d32f2f; }
