.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}


.title {
  width: 1020px;
  padding: 24px 0;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #363c4e;
}


.inner {
  display: flex;
  width: 100%;
  width: 1020px;
}


.tab {
  display: flex;
  padding: 8px 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}


.selected {
  border-bottom: 4px solid #3bb3e4;
}
