.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  padding: 24px;
}


.up,
.unchanged,
.down {
  animation-duration: 1200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}


.up {
  animation-name: up;
}


.down {
  animation-name: down;
}


.unchanged {
  animation-name: unchanged;
}


.number {
  text-align: right;
}


.changeNegative {
  color: #d32f2f;
}


.changePositive {
  color: #2e7b32;
}


@keyframes down {

  0% {
    color: inherit;
  }

  22% {
    color: #d32f2f;
  }

  77% {
    color: #d32f2f;
  }

  100% {
    color: inherit;
  }
}


@keyframes unchanged {

  0% {
    color: inherit;
  }

  22% {
    color: #fb3;
  }

  77% {
    color: #fb3;
  }

  100% {
    color: inherit;
  }
}


@keyframes up {

  0% {
    color: inherit;
  }

  22% {
    color: #2e7b32;
  }

  77% {
    color: #2e7b32;
  }

  100% {
    color: inherit;
  }
}
