.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 800px;
  padding: 24px;
}


.ticker {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 12px;
  box-sizing: border-box;
}


.info {
  display: flex;
}


.symbol {
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}


.label {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  padding: 3px 8px;
  background-color: #fafafa;
}


.value {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 3px 8px;
  background-color: #f2f9ff;
}


.lastUpdate {
  padding-bottom: 12px;
  margin-top: 8px;
  font-size: smaller;
  color: #424242;
  text-align: center;
}


.up,
.unchanged,
.down {
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}


.up {
  animation-name: up;
}


.down {
  animation-name: down;
}


.unchanged {
  animation-name: unchanged;
}


.error {
  min-height: 800px;
  padding: 24px;
  font-size: 16px;
}


.changeNegative {
  color: #d32f2f;
}


.changePositive {
  color: #2e7b32;
}

@keyframes down {

  0% {
    background-color: #f2f9ff;
  }

  22% {
    color: #fafafa;
    background-color: #d32f2f;
  }

  77% {
    color: #fafafa;
    background-color: #d32f2f;
  }

  100% {
    background-color: #f2f9ff;
  }
}


@keyframes unchanged {

  0% {
    background-color: #f2f9ff;
  }

  22% {
    color: #fafafa;
    background-color: #fb3;
  }

  77% {
    color: #fafafa;
    background-color: #fb3;
  }

  100% {
    background-color: #f2f9ff;
  }
}


@keyframes up {

  0% {
    background-color: #f2f9ff;
  }

  22% {
    color: #fafafa;
    background-color: #2e7b32;
  }

  77% {
    color: #fafafa;
    background-color: #2e7b32;
  }

  100% {
    background-color: #f2f9ff;
  }
}
